<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Workouts</title>
</head>

<body>
  <div id="user_header">
    <p>Welcome <%= user %>
    </p> <a href="/logout">Logout</a>
    <profile-modal></profile-modal>
  </div>
  <div id="workout_selector">
    <button onclick="window.location.href='/workout?prev';">
      Prev
    </button>
    <span>
      <%= workout.date + ": " + workout.name %>
    </span>
    <button onclick="window.location.href='/workout?next';">
      Next
    </button>
  </div>
  <div id="exercises">
    <div id="add_exercise">
      <input type="text" name="add_exercise_name" id="add_exercise_name" placeholder="Add Exercise"
        onkeyup="searchExerciseNames();" />
      <div id="add_exercise_name_dropdown"></div>
      <form id="add_exercise_metrics"></form>
    </div>
    <div id="exercise_view">
      <ul>
        <% for (let exercise of Object.keys(exercises)) { %>
          <li>
            <div>
              <span>  
                <%= exercise %>
              </span>
              <div>
                <ul>
                  <% for (let set of exercises[exercise].reverse()) { %>
                    <li> <span class="exercise_set"> <%="Set " + set.number %> </span>
                      <% for (let metric of set.metrics) { %>
                        <div>
                          <span class="metric_value">
                            <%= metric.value %>
                          </span>
                          <span class="metric_unit">
                            <%= metric.unit %>
                          </span>
                        </div>
                        <% } %>
                      </li> 
                    <% } %>
                </ul>
              </div>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="/js/workoutPage.js"></script>
  <script type="text/javascript" src="/components/profile-modal/profile-modal.js"></script>

</body>

</html>